body {
    display: flex;
    justify-content: center;
}

table {
    background-color: rgb(70, 18, 9);
    padding: 70px;
    border-radius: 50%;
}

td {
    background-color: rgb(216, 155, 75);

    text-align: center;
    font-family: verdana, sans-serif;
    font-size: 35px;

    width: 50px;
    height: 50px;
}

.possible {
    background-color: rgb(226, 175, 109);
    cursor: pointer;
}

.choisi{
    background-color: rgb(134, 94, 42);
}